### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Language specefic ###
.idea
.ipynb_checkpoints
__pycache__
build
dist
*.exe
*.o
node_modules
.env

### Else ###
rough.c
Rough.cpp
Rough.py
tempCodeRunnerFile.py
Rough.ipynb
mnist_784.joblib
bootstrap-3.4.1
big.txt
